;[entity attribute value time] -> datom
[{:db/doc "A owners's name"
  :db/id #db/id[:db.part/db]
  :db/ident :owner/name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db}

 {:db/doc "All stuffs for one owner"
  :db/id #db/id[:db.part/db]
  :db/ident :owner/stuffs
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many
  :db.install/_attribute :db.part/db}

 {:db/doc "A stuff's name"
  :db/id #db/id[:db.part/db]
  :db/ident :stuff/name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db}]
